@import url(reset.css);

.header {
    padding: 10px 20px;
    background-color: #fff;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left {
    flex: 1;
    text-decoration: none;
  }
  
  .site-name {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }
  
  .link{
    text-decoration: none;
    color: black;
  }

  .header-right {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    width: auto;
    height: 24px;
    display: flex;
    transition: opacity 0.3s ease;
    gap: 10px;
  }
  
  .icon-x:hover {
    opacity: 0.7;
  }
  .icon-youtube:hover {
    opacity: 0.7;
  }
  .icon-bsky:hover {
    opacity: 0.7;
  }
  .icon-spotify:hover {
    opacity: 0.7;
  }
  